<h1>Latest Posts</h1>
<a href="/dashboard">Back to Dashboard</a>
<ul>
    {{#each posts}}
    <li>
        <h2>{{this.title}}</h2>
        <p>By: {{this.user.username}}</p>
        <p>{{this.content}}</p>

        <a href="/posts/{{this.id}}">View/Comment</a>
    </li>
    {{/each}}
</ul>